<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
      <%# ↑messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得している。 %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
      <%# ↑messagesテーブルのcreated_atカラムから、投稿した時刻を取得している。 %>
      <%# ↑lメソッドを用いて記述することで、あらかじめ設定した日本時刻のフォーマットで表示している。 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
      <%# ↑messagesテーブルのcontentカラムから、メッセージの内容を取得している。 %>
    </div>
  </div>
</div>