<div class="side_bar_header">
  <div class="header_left">
    <%= link_to current_user.name, edit_user_path(current_user)  %>
    <%# ※ここの「current_user.name」は、サインインしているユーザー名を表示するという意味。 %>
    <%# ※「edit_user_path(current_user)」は、edit.html.erbへ遷移(サインインしているユーザー情報)という意味。 %>
  </div>
  <div class="header_right">
    <%= link_to 'チャットを作成する', new_room_path  %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room) %>
                                                <%# ↑パスにroomを引数とすることで、メッセージと紐付いているチャットルームのidを持たせることができる。 %>
      </div>
    </div>
  <% end %>
</div>